<div ng-app="mcApp" ng-controller="TabsDemoCtrl">
	<uib-tabset>
    <uib-tab heading="Personal">
    <personals></personals>
	</uib-tab>
	<uib-tab heading="Financial">
	<financials></financials>
	</uib-tab>
	<uib-tab heading="Tax">
	<tax></tax>
	</uib-tab>
	<uib-tab heading="Strategies">
	<objective></objective>
	</uib-tab>
	<uib-tab heading="Goals">
	<goals></goals>
	</uib-tab>
	<uib-tab heading="Simulation Inputs">
	<simulation></simulation>
	</uib-tab>
	<uib-tab heading="Cash Flows">
	<flows></flows>
	</uib-tab>
	<uib-tab heading="Presentation">
	<presentation></presentation>
	</uib-tab>
  </uib-tabset>
  <hr />
</div>